/* Article_page header */
.articlePage-header {
	position: sticky;
	background-color: #242424;
	z-index: 100;
	top: 0%;
	width: 100%;
	height:10vh;
	padding: 1rem 0rem;
}

.return_btn {
	position: absolute;
	left: 2%;
}
.article_author {
	position: absolute;
	right: 2%;
	bottom: 0%;
}
@media screen and (max-width: 900px) {

}

@media screen and (max-width: 625px) {

	.return_btn {
		font-size: 0.8rem;
	}

	.article_author {
		font-size: 0.7rem;
	}
}


/* Article_page main-text content*/
.article-content {
  font-size: 1.1em;
  line-height: 1.7;
  color: #bcbc00;
  text-align: justify;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em 0;
}

.article-content p {
  max-width: 1200px;
  width: 90vw;
  word-break: break-word;
}

@media (max-width: 900px) {
  .article-content {
    font-size: 1em;
    padding: 0.5em 0;
  }
  .article-content p {
    max-width: 700px;
    font-size: 1em;
  }
}

@media (max-width: 625px) {
  .article-content {
    padding: 0.2em 0;
  }
  .article-content p {
    font-size: 0.8em;
	font-weight: 900;
    max-width: 320px;
    width: 95vw;
  }
}