/* FILTER DESKTOP VERSION */

.filter-bar {
	position: absolute;
	bottom: 3%;
	width: 100%;
}

.filter-btn {
	border: none;
	background: none;
	color: black;
	transform: rotate(180deg);
}

.filter-btn--active {
	color: red;
}

/* FILTER MOBILE VERSION */