/* src/components/Background.css */
.app-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;       /* Ajuste la taille de l'image */
  background-position: center;  /* Centre l'image */
  background-repeat: no-repeat; /* Empêche la répétition */
  z-index: -1;                   /* Place l'arrière-plan derrière le contenu */
}

.loading, .error {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  z-index: -1;
}
