.mecene-button {
	position: fixed;
	top: 20px;
	left: 20px;
	z-index: 500;
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
}

.mecene-button-img {
	width: auto;
	height: auto;
	max-width: 150px;
	display: block;
	transition: all 0.3s ease;
}

@media screen and (max-width: 625px)
{
	.mecene-button-img {
		max-width: 100px;
	}
}