.mecene-button {
	position: fixed;
	top: 20px;
	left: 20px;
	z-index: 500;
	cursor: pointer;
}

.mecene-button-img {
	width: auto;
	height: auto;
	max-width: 150px;
	display: block;
	transition: all 0.3s ease;
}
